html {
    overflow-y: scroll;
}

.btn-main.active {
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    background-color: #e6e6e6;
    color: #333;
}

.btn-main:hover:not(.active) {
    color: #007bff;
}

.btn-main {
    background: linear-gradient(to bottom, #fff, #f2f2f2);
    background-repeat: repeat-x;
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    padding: 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    text-align: center;
    color: #555;
    flex-grow: 1 !important;
    max-width: 200px;
    min-width: 150px;
}

@media (max-width: 850px) {
    .btn-main {
        max-width: 150px;
    }
}

@media (max-width: 650px) {
    .btn-group {
        flex-wrap: wrap;
    }
}

.btn-group {
    width: 100%;
    justify-content: center;
}

.container {
    max-width: 900px;
}

table {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 0.2rem;
    overflow: auto;
}

table+* {
    margin-top: 1.5em;
}

table th,
table td {
    text-align: left;
}

[dir="rtl"] table th,
[dir="rtl"] table td {
    text-align: right;
}

table th,
table>tbody:only-child>tr:first-child td {
    padding: 10px 10px;
    color: white;
    vertical-align: top;
}

table td {
    padding: 10px 15px;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.07);
    vertical-align: top;
}

table tr:first-child td {
    border-top: 0;
}

table a {
    word-break: normal;
}

table>thead>tr,
table>tbody:only-child>tr:first-child {
    background-color: rgba(0, 0, 0, 0.54);
}

hr+hr {
    display: none;
}

main {
    counter-reset: h2counter;
}

h1.title {
    text-align: center;
    margin-top: 40px;
    font-size: 5em;
    font-weight: bolder;
}

main h2 {
    font-size: 1.2em;
    counter-reset: h3counter;
}

main h3 {
    font-size: 1.2em;
    counter-reset: h4counter;
}

main h4 {
    font-size: 1.2em;
}

main h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
}

main h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}

main h4:before {
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
    counter-increment: h4counter;
}

main p,
main ul,
main pre{
    padding-left: 40px;
}

main table {
    margin-left: 40px;
    width: calc(100% - 40px);
}

main pre {
    @extend .card;
    margin-left: 40px;
    padding: 5px;
    transition: box-shadow 2s cubic-bezier(.165, .84, .44, 1);
    &:hover,
    &:focus {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    }
}

.md-grid {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.md-sidebar {
    display: none;
}

@media only screen and (min-width: 1500px) {
    .md-sidebar {
        display: block;
        position: fixed;
        top: 4.8rem;
        overflow: hidden;
        margin-left: 900px;
    }
}

.md-source:hover {
    opacity: 0.7;
}

a.md-source:hover {
    text-decoration: none;
}

.md-source {
    display: block;
    padding-right: 1.2rem;
    font-size: 1.3rem;
    line-height: 1.2;
    white-space: nowrap;
    transition: opacity 0.25s;
    padding-bottom: 1em;
}

@media (min-width: 1400px) {
    .md-source {
        position: absolute;
        right: 0;
        z-index: 10;
    }
}

.md-source__icon {
    display: inline-block;
    width: 4.8rem;
    content: "";
    vertical-align: middle;
}

.md-source__icon svg {
    width: 2.4rem;
    margin-left: 1.2rem;
}

.md-source__icon+.md-source__repository {
    margin-left: -4.4rem;
    padding-left: 4rem;
}

.md-source__repository {
    display: inline-block;
    max-width: 100%;
    margin-left: 1.2rem;
    font-weight: 700;
    text-overflow: ellipsis;
    vertical-align: middle;
    overflow: hidden;
}

.md-source::after {
    display: inline-block;
    content: "";
    vertical-align: middle;
}

[data-md-state="done"] .md-source__facts {
    animation: md-source__facts--done 0.25s ease-in;
}

.md-source__facts {
    font-size: 1.1rem;
    font-weight: 700;
    list-style-type: none;
    opacity: 0.75;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: start;
}

.progress {
    background: linear-gradient(to right, #F9EC31 var(--scroll), transparent 0);
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 4px;
    top: 0;
    z-index: 1;
  }
