<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/img/homie-logo.png">
  <link rel="canonical" href="{{ .Permalink }}">
  <title>{{- .Site.Title -}}</title>
  {{ $options := (dict "targetPath" "/css/style.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
  {{- $style := resources.Get "/scss/all.scss" | toCSS | minify -}}
  <link href="{{- $style.Permalink | safeHTMLAttr -}}" rel="stylesheet">

{{ $tocjs := resources.Get "/js/toc.js" -}}
{{ $ajaxclicksjs := resources.Get "/js/main.js" -}}
{{ $tool := resources.Get "/js/tool-verificator.js" -}}
{{- $js := slice $tocjs $ajaxclicksjs $tool | resources.Concat "js/main.js" | minify }}
    <script type='text/javascript' src="{{- $js.Permalink -}}"></script>

  <link rel="prefetch" href="/specification/">
  <link rel="prefetch" href="/implementations/">
  <link rel="prefetch" href="/extensions/">
  <link rel="prefetch" href="/get_involved/">
  <link rel="prefetch" href="/license/">

  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/js/sw.js')
      .catch(function(error) {
        console.log('Registration failed with ' + error);
      });
    }
  </script>
</head>

<body>
    <div class="progress d-print-none"></div>
    <header class="text-center" style="margin-top:20px">
    <a href="{{ $.Site.Params.repourl }}" title="{{ $.Site.Params.repotitle }}" class="md-source d-print-none" data-md-source="github">
      <div class="md-source__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 416 448" id="__github">
          <path fill="currentColor" d="M160 304q0 10-3.125 20.5t-10.75 19-18.125
                8.5-18.125-8.5-10.75-19-3.125-20.5 3.125-20.5 10.75-19 18.125-8.5
                18.125 8.5 10.75 19 3.125 20.5zM320 304q0 10-3.125 20.5t-10.75
                19-18.125 8.5-18.125-8.5-10.75-19-3.125-20.5 3.125-20.5 10.75-19
                18.125-8.5 18.125 8.5 10.75 19 3.125 20.5zM360
                304q0-30-17.25-51t-46.75-21q-10.25 0-48.75 5.25-17.75 2.75-39.25
                2.75t-39.25-2.75q-38-5.25-48.75-5.25-29.5 0-46.75 21t-17.25 51q0 22 8
                38.375t20.25 25.75 30.5 15 35 7.375 37.25 1.75h42q20.5 0
                37.25-1.75t35-7.375 30.5-15 20.25-25.75 8-38.375zM416 260q0 51.75-15.25
                82.75-9.5 19.25-26.375 33.25t-35.25 21.5-42.5 11.875-42.875 5.5-41.75
                1.125q-19.5 0-35.5-0.75t-36.875-3.125-38.125-7.5-34.25-12.875-30.25-20.25-21.5-28.75q-15.5-30.75-15.5-82.75
                0-59.25 34-99-6.75-20.5-6.75-42.5 0-29 12.75-54.5 27 0 47.5 9.875t47.25
                30.875q36.75-8.75 77.25-8.75 37 0 70 8 26.25-20.5
                46.75-30.25t47.25-9.75q12.75 25.5 12.75 54.5 0 21.75-6.75 42 34 40 34
                99.5z"></path>
        </svg>
      </div>
      <div class="md-source__repository">
        {{ $.Site.Params.repotitle }}
        <div id="repofacts" class="md-source__facts"></div>
      </div>
    </a>
    <script>
      const el = document.getElementById("repofacts");
      var stargazers_count = sessionStorage.getItem('stargazers_count');
      var forks_count = sessionStorage.getItem('forks_count');
      if (stargazers_count !== null) {
        el.innerText = stargazers_count + " Stars · " + forks_count + " Forks"
      } else {
        const url = "https://api.github.com/repos/{{ $.Site.Params.reposlug }}"
        fetch(url).then(response => response.json()).then(data => {
          if (!(data instanceof Object))
            throw new TypeError
          sessionStorage.setItem('stargazers_count', data.stargazers_count);
          sessionStorage.setItem('forks_count', data.forks_count);
          el.innerText = data.stargazers_count + " Stars · " + data.forks_count + " Forks"
        })
      }
    </script>

    <nav id="mainmenu" class="btn-group d-print-none" role="group" aria-label="Basic example">
      {{- $urle := $.URL -}}
      {{- range .Site.Menus.main -}}
      {{- $menuURL := .URL | absLangURL }}
      <a href="{{ $menuURL }}" role="button" class="btn btn-main {{ if eq ($.URL|lower) (.URL|lower) -}}active{{- end -}}"
        title="{{ .Title }}">{{ .Name }}</a>
      {{- end }}
    </nav>
  </header>
  {{ block "main" . }}
  {{ end }}

  {{ block "footer" . }}
  <footer class="page-footer font-small blue pt-4">
      <div class="footer-copyright text-center py-3">© 2018-2020 -
      Made by IoT enthusiasts for IoT enthusiasts.
      </div>
  </footer>
  {{ end }}
</body>

</html>
