{{ define "main" }}
<div class="container mt-2" id="mainContent">
<div class="row">
<div class="col-12">
    <h1 class="animated fadeIn" style="text-align: center; margin-top:40px; font-size:4em;">
        Changes
    </h1>
    <center class="animated fadeIn mb-4">Changes from
        <a href='/specification/{{ replace $.Page.Params.oldfile ".md" "" }}/'>{{ $.Page.Params.oldversion }}</a> to
        <a href='/specification/{{ replace $.Page.Params.newfile ".md" "" }}/'>{{ $.Page.Params.newversion }}</a></center>

    <h2>Commits</h2>

    {{ $pages := where $.Site.RegularPages "Params.newversion" "==" $.Page.Params.newversion }}
    {{ range where $pages "Params.changes" "==" true }}
    {{ .Content | markdownify }}
    {{ end }}

    <h2>Differences</h2>

    {{ .Content }}
</div>
</div>
</div>
{{ end }}
