{{ define "main" }}
<div class="container mb-5" id="mainContent">
<div class="row">
<div class="col-12">
<style>
h1 { text-align: center; margin-top:40px; font-size:5em; font-weight: bolder;}
h2 { text-align: center;}
blockquote {
    text-align: justify;
    padding: 0 20px;
}
</style>
{{ .Content }}
</div>
</div>
</div>
<footer class="page-footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">© 2018 - 
    Made by IoT enthusiasts for IoT enthusiasts. Help and improve.
    </div>
</footer>
{{ end }}
