{{ define "main" }}
<div class="container mb-5" id="mainContent">
<div class="row">
<div class="col-12">
<style>
h1 { text-align: center; margin-top:40px; font-size:5em; font-weight: bolder;}
h2 { text-align: center;}
blockquote {
    text-align: justify;
    padding: 0 20px;
}
</style>
<div class="animated fadeIn">
<h1 style="text-align: center; margin-top:40px; font-size:4em;">
    <img src="./img/homie-logo.png" alt="{{ $.Page.Title }}">
</h1>
<center class="mb-4">{{ $.Page.Params.desc }}</center>
</div>
<hr>
{{ .Content }}
</div>
</div>
</div>
{{ end }}
